@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*================HEADER==========================*/
header{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgba(240, 240, 240);
    border-top: solid 1px rgb(51, 51, 51);
}

nav{
    flex-grow: 1;
}

ul{
    list-style: none;
    padding: 0px 30px;
    margin: 0px;
}

li{
    display: inline-flex;
}

li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 20px;
    color: rgb(51, 51, 51);
}

li a:hover{
    border-bottom: solid 2px blue;
}

a.active{
    border-bottom: solid 2px rgb(51, 51, 51);
}

.logo{
    height: 30px;
}

svg{
    height: 25px;
    color: rgb(51, 51, 51);
}
svg:hover{
    color:blue;
}

/*======================MAIN============================*/

.main-image{
    display:flex;
    align-items: center;
    height: 300px;
    width: 1335px;
}

.img-background{
    display: flex;
    width: 50%;
    height: 100%;
    background-image: url(/PREPARCIAL1/img/utn-alumnos.jpg);
    align-items: center;
    justify-content: center;    
}
h1{
    color: white;
}

.img-content{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center
}

.img-content p{
    padding-left: 30px;
    font-size: 18px;
}





/*
● usar flex para la navegación.
● usar flex grow para modelar el tamaño de los bloques flexibles.
● usar display inline-flex para los <li> del menú.
● utilizar fuentes de Google Fonts Lato, grosores 100, 400 y 900.
● usar archivos de imagen en zip adjunto en CVG.
● agregar borde inferior a los elementos del menú (similar al del link de INICIO) cuando
se pasa el mouse por encima, con diferente color.

*/